extends container
block content
    p Hello #{userName}!
    p Your place address: #{placeAddress}
    p is booked by user #{guestName}
    p for #{countDays} day(s)
    p for #{countPersons} person(s)